html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  background-color: lightsalmon ;
  color: black;
  padding: 15px;
  width: 1920px;
}

.recipe {
  font-size: 22px;
  display: inline-block;
  padding: 0 100px;
  width: 640px;
  text-align: center;
}

#mapo {
  background-color: red;
}

#chilli {
  background-color: green;
}

#pasta {
  background-color: blue;
}

a {
  color: white;
  padding: 10px 100px;
  display: inline-block;
  background-color: hsl(0, 0%, 100%, 25%);
}

ul {
  width: fit-content;
  margin: 0 auto;
  font-size: 0;
}